<</Commands [/c <<	/0 [/c <<		/Config [/c <<			/UIPolicy [/i 3]
>>]
		/HandlerName [/a /EVMP_AutoRedact_MarkupFromDictionaryCommand]
		/Params [/c <<			/AddExemptionBoxes [/b true]
			/AnnotationNote [/t (???)]
			/AnnotationSubject [/t (Redacting)]
			/AnnotationType [/t (Square)]
			/BorderWidth [/i 1]
			/CodePos [/c <<				/x [/i 5]
				/y [/i 1]
>>]
			/Color [/c <<				/Item0 [/d 1.000000]
				/Item1 [/d 0.000000]
				/Item2 [/d 0.000000]
				/Item3 [/d 0.000000]
				/Space [/i 1]
>>]
			/CountLineEnds [/b false]
			/CreateNewDocument [/b true]
			/DeleteAnnotations [/b true]
			/DeleteMetadata [/b true]
			/DictionaryToUse [/t ({{dictionary_name}})]
			/DoNotAllowOverlappingAnnotations [/b true]
			/DoNotAllowRedactingWithoutExemptionCode [/b true]
			/ExcludeWords [/t ()]
			/ExecuteScriptAfter [/b true]
			/ExecuteScriptBefore [/b true]
			/ExpandRedactingAnnots [/c <<				/Bottom [/d 0.000000]
				/Left [/d 0.000000]
				/Right [/d 0.000000]
				/Top [/d 0.000000]
>>]
			/ExportToTextFilename [/t ()]
			/FillBoxes [/b true]
			/FillBoxesColor [/c <<				/Item0 [/d 0.784317]
				/Item1 [/d 0.784317]
				/Item2 [/d 0.784317]
				/Item3 [/d 0.000000]
				/Space [/i 1]
>>]
			/ImageFill [/i 0]
			/LastPage [/i 0]
			/MatchCase [/i 1]
			/MatchWholeWords [/i 0]
			/ModifyAnnots [/b false]
			/OffsetRedactingAnnots [/c <<				/h [/d 0.000000]
				/v [/d 0.000000]
>>]
			/OverlapMethod [/i 0]
			/PDF2ImageDPI [/i 300]
			/PageSelection [/i 0]
			/PageSubset [/i 0]
			/PatternMatchingSettings [/c <<				/CustomRegExp [/t ()]
				/ExemptionCode [/t ()]
				/FontFilter [/c <<					/FontName [/t ()]
					/FontSize [/d 10.000000]
					/FontSizeTolerance [/d 0.500000]
					/MatchFontName [/b false]
					/MatchFontSize [/b false]
>>]
				/MarkupAddress [/b false]
				/MarkupCompanyNames [/b false]
				/MarkupDates [/b false]
				/MarkupEmails [/b false]
				/MarkupPhones [/b false]
				/MarkupSSN [/b false]
				/MarkupTextInBrackets [/b false]
				/MatchCase [/b false]
				/MatchWholeWords [/b false]
				/UseCustomPattern [/b false]
				/m_bMarkupAccountNumbers12digits [/b false]
>>]
			/PerformDirectRedacting [/b false]
			/RedactCrossout [/b true]
			/RedactFormFields [/b true]
			/RedactHighlight [/b true]
			/RedactRectangle [/b true]
			/RedactUnderline [/b true]
			/RedactingChar [/t ( )]
			/RemoveAnnotsFormFields [/b true]
			/RemoveAnnotsFreeText [/b true]
			/RemoveAnnotsMultimedia [/b true]
			/RemoveCrossout [/b true]
			/RemoveHighlight [/b true]
			/RemoveRectangle [/b true]
			/RemoveUnderline [/b true]
			/SaveLogFile [/b false]
			/ScriptAfter [/t ()]
			/ScriptBefore [/t ()]
			/SortOrder [/i 2]
			/StartPage [/i 0]
			/StrokeBoxes [/b false]
			/StrokeBoxesColor [/c <<				/Item0 [/d 1.000000]
				/Item1 [/d 0.000000]
				/Item2 [/d 0.000000]
				/Item3 [/d 0.000000]
				/Space [/i 1]
>>]
			/SummarizeAnnotations [/b false]
			/Tolerances [/c <<				/Bottom [/d 5.000000]
				/Left [/d 10.000000]
				/Right [/d 10.000000]
				/Top [/d 5.000000]
>>]
			/UseExcludeWords [/b false]
			/WatermarkText [/c <<				/AlignH [/i 80]
				/AlignV [/i 985040]
				/Angle [/i 0]
				/BehindText [/b false]
				/FillColor [/c <<					/Item0 [/d 0.000000]
					/Item1 [/d 0.000000]
					/Item2 [/d 0.784317]
					/Item3 [/d 0.000000]
					/Space [/i 1]
>>]
				/FillOpacity [/d 1.000000]
				/FontName [/i 0]
				/FontNameString [/t ()]
				/FontSize [/i 7]
				/MCTag [/t (Watermark)]
				/PosOrigin [/i 1]
				/PosX [/d 10.000000]
				/PosY [/d 10.000000]
				/RenderMode [/i 0]
				/StrokeColor [/c <<					/Item0 [/d 0.000000]
					/Item1 [/d 0.000000]
					/Item2 [/d 0.000000]
					/Item3 [/d 0.000000]
					/Space [/i 1]
>>]
				/StrokeLineWidth [/d 1.000000]
				/StrokeOpacity [/d 1.000000]
				/Text [/t ()]
>>]
>>]
		/Title [/t (Mark Up Text From Dictionary)]
>>]
	/1 [/c <<		/Config [/c <<			/UIPolicy [/i 3]
>>]
		/HandlerName [/a /PauseCmd]
		/Params [/c <<			/Instructions [/t (Klik om door te gaan)]
			/ScreenName [/t (Markering accepteren)]
>>]
		/Title [/t (Onderbreken)]
>>]
	/2 [/c <<		/Config [/c <<			/UIPolicy [/i 3]
>>]
		/HandlerName [/a /JavaScript]
		/Params [/c <<			/ScriptCode [/t (// Split Path into an array so it is easy to work with, get extension out and add new name + extension\r\nvar filename=this.path.slice\(0, this.path.length - 4\) + '_Markup.pdf';\r\n\r\n// Save new path\r\nthis.saveAs\(filename\);\r\n)]
			/ScriptName [/t ()]
>>]
		/Title [/t (JavaScript uitvoeren)]
>>]
	/3 [/c <<		/Config [/c <<			/UIPolicy [/i 3]
>>]
		/HandlerName [/a /EVMP_AutoRedact_RedactDocumentCommand]
		/Params [/c <<			/AddExemptionBoxes [/b true]
			/AnnotationNote [/t (???)]
			/AnnotationSubject [/t (Redacting)]
			/AnnotationType [/t (Square)]
			/BorderWidth [/i 1]
			/CodePos [/c <<				/x [/i 5]
				/y [/i 1]
>>]
			/Color [/c <<				/Item0 [/d 1.000000]
				/Item1 [/d 0.184311]
				/Item2 [/d 0.184311]
				/Item3 [/d 0.000000]
				/Space [/i 1]
>>]
			/CountLineEnds [/b false]
			/CreateNewDocument [/b true]
			/DeleteAnnotations [/b true]
			/DeleteMetadata [/b true]
			/DictionaryToUse [/t ()]
			/DoNotAllowOverlappingAnnotations [/b true]
			/DoNotAllowRedactingWithoutExemptionCode [/b true]
			/ExcludeWords [/t ()]
			/ExecuteScriptAfter [/b true]
			/ExecuteScriptBefore [/b true]
			/ExpandRedactingAnnots [/c <<				/Bottom [/d 0.000000]
				/Left [/d 0.000000]
				/Right [/d 0.000000]
				/Top [/d 0.000000]
>>]
			/ExportToTextFilename [/t ()]
			/FillBoxes [/b true]
			/FillBoxesColor [/c <<				/Item0 [/d 0.000000]
				/Item1 [/d 0.000000]
				/Item2 [/d 0.000000]
				/Item3 [/d 0.000000]
				/Space [/i 1]
>>]
			/ImageFill [/i 0]
			/LastPage [/i 0]
			/MatchCase [/i 0]
			/MatchWholeWords [/i 1]
			/ModifyAnnots [/b false]
			/OffsetRedactingAnnots [/c <<				/h [/d 0.000000]
				/v [/d 0.000000]
>>]
			/OverlapMethod [/i 2]
			/PDF2ImageDPI [/i 300]
			/PageSelection [/i 0]
			/PageSubset [/i 0]
			/PatternMatchingSettings [/c <<				/CustomRegExp [/t ()]
				/ExemptionCode [/t ()]
				/FontFilter [/c <<					/FontName [/t ()]
					/FontSize [/d 10.000000]
					/FontSizeTolerance [/d 0.500000]
					/MatchFontName [/b false]
					/MatchFontSize [/b false]
>>]
				/MarkupAddress [/b false]
				/MarkupCompanyNames [/b false]
				/MarkupDates [/b false]
				/MarkupEmails [/b false]
				/MarkupPhones [/b false]
				/MarkupSSN [/b false]
				/MarkupTextInBrackets [/b false]
				/MatchCase [/b false]
				/MatchWholeWords [/b false]
				/UseCustomPattern [/b false]
				/m_bMarkupAccountNumbers12digits [/b false]
>>]
			/PerformDirectRedacting [/b false]
			/RedactCrossout [/b false]
			/RedactFormFields [/b true]
			/RedactHighlight [/b false]
			/RedactRectangle [/b true]
			/RedactUnderline [/b false]
			/RedactingChar [/t ( )]
			/RemoveAnnotsFormFields [/b true]
			/RemoveAnnotsFreeText [/b true]
			/RemoveAnnotsMultimedia [/b true]
			/RemoveCrossout [/b false]
			/RemoveHighlight [/b true]
			/RemoveRectangle [/b false]
			/RemoveUnderline [/b false]
			/SaveLogFile [/b false]
			/ScriptAfter [/t ()]
			/ScriptBefore [/t ()]
			/SortOrder [/i 2]
			/StartPage [/i 0]
			/StrokeBoxes [/b false]
			/StrokeBoxesColor [/c <<				/Item0 [/d 1.000000]
				/Item1 [/d 0.000000]
				/Item2 [/d 0.000000]
				/Item3 [/d 0.000000]
				/Space [/i 1]
>>]
			/SummarizeAnnotations [/b false]
			/Tolerances [/c <<				/Bottom [/d 5.000000]
				/Left [/d 10.000000]
				/Right [/d 10.000000]
				/Top [/d 5.000000]
>>]
			/UseExcludeWords [/b false]
			/WatermarkText [/c <<				/AlignH [/i 11792656]
				/AlignV [/i 96748672]
				/Angle [/i 0]
				/BehindText [/b false]
				/FillColor [/c <<					/Item0 [/d 1.000000]
					/Item1 [/d 1.000000]
					/Item2 [/d 1.000000]
					/Item3 [/d 0.000000]
					/Space [/i 1]
>>]
				/FillOpacity [/d 1.000000]
				/FontName [/i 0]
				/FontNameString [/t ()]
				/FontSize [/i 7]
				/MCTag [/t (Watermark)]
				/PosOrigin [/i 1]
				/PosX [/d 10.000000]
				/PosY [/d 10.000000]
				/RenderMode [/i 0]
				/StrokeColor [/c <<					/Item0 [/d 0.000000]
					/Item1 [/d 0.000000]
					/Item2 [/d 0.000000]
					/Item3 [/d 0.000000]
					/Space [/i 1]
>>]
				/StrokeLineWidth [/d 1.000000]
				/StrokeOpacity [/d 1.000000]
				/Text [/t ()]
>>]
>>]
		/Title [/t (Redact Document)]
>>]
	/4 [/c <<		/Config [/c <<			/UIPolicy [/i 3]
>>]
		/HandlerName [/a /PauseCmd]
		/Params [/c <<			/Instructions [/t (Klik om door te gaan)]
			/ScreenName [/t (Redacting accepteren)]
>>]
		/Title [/t (Onderbreken)]
>>]
	/5 [/c <<		/Config [/c <<			/UIPolicy [/i 3]
>>]
		/HandlerName [/a /JavaScript]
		/Params [/c <<			/ScriptCode [/t (// Split Path into an array so it is easy to work with, get extension out and add new name + extension\r\nvar filename=this.path.slice\(0, this.path.length - 4\) + '_Redacted.pdf';\r\n\r\n// Save new path\r\nthis.saveAs\(filename\);\r\n)]
			/ScriptName [/t ()]
>>]
		/Title [/t (JavaScript uitvoeren)]
>>]
>>]
/Description [/t (wizard handeling voor {{wob_project}})]
/Input [/c <<	/FileVariation [/i 2]
>>]
/Output [/c <<	/AddToBaseName [/b true]
	/DontOverwrite [/b true]
	/EmbedIndex [/b false]
	/FileVariation [/i 3]
	/HandleOutput [/b true]
	/InsertAfterBaseName [/t (_Redacted)]
	/NumbericNaming [/b false]
	/OptimizePDF [/b true]
	/PresetName [/t (Standaard)]
	/RunPDFOptimizer [/b false]
>>]
>>